<!DOCTYPE html>
<!DOCTYPE html>
<html lang="UA">

<head>
    <title>Strava Athlete authorize</title>
    <link rel="stylesheet" href="/css/redirectPage.css">
</head>

<body>
    <div class="profile-container">
        <div class="profile-header">
            <h2>{{athlete.firstname}} {{athlete.lastname}}</h2>
        </div>
        <aside class="aside profile-image">
            <img src="{{athlete.profile}}" alt="Profile Picture">
        </aside>
        <aside class="aside profile-info">
            <p><strong>ID:</strong> {{athlete.stravaId}}</p>
            <p><strong>Username:</strong> {{athlete.username}}</p>
            <p><strong>Sex:</strong> {{athlete.sex}}</p>
            <p><strong>City:</strong> {{athlete.city}}</p>
            <p><strong>Country:</strong> {{athlete.country}}</p>
            <p><strong>Date Created:</strong> {{athlete.stravaCreatedAt}}</p>
            <p><strong>Last Updated:</strong> {{athlete.stravaUpdatedAt}}</p>
        </aside>
        <div class="profile-scope">
            Scope: {{scope}}
        </div>
    </div>
</body>

</html>